:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: #0981e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

aside {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	height: 70vh;
	justify-content: center;
	align-items: center;
}

main p {
	text-align: center;
	font-size: 8rem;
	font-weight: 800;
}

main span {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 2rem;
}

main span button {
	background-color: #044d8a;
	border-color: #044d8a;
	border-radius: 4px;
	width: 12rem;
	height: 4rem;

	color: #ffffff;
	font-size: 3rem;
	font-weight: 800;
}

main span button:hover {
	border-color: #ffffff;
}